<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DeltekVisionOpenAPIWebServiceSoap" openTimeout="00:02:00" sendTimeout="00:02:00" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
        <!--<binding name="DeltekVisionOpenAPIWebServiceSoapSSL" openTimeout="00:02:00" sendTimeout="00:02:00" maxReceivedMessageSize="524288">
                <security mode="Transport">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="Certificate" algorithmSuite="Default"/>
                </security>
              </binding>-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Vision74/VisionWS.asmx" binding="basicHttpBinding" bindingConfiguration="DeltekVisionOpenAPIWebServiceSoap" contract="VisionAPI.DeltekVisionOpenAPIWebServiceSoap" name="DeltekVisionOpenAPIWebServiceSoap"/>
      <!--<endpoint address="https://localhost/Vision74/VisionWS.asmx"
                    binding="basicHttpBinding"
                    bindingConfiguration="DeltekVisionOpenAPIWebServiceSoapSSL"
                    contract="VisionAPI.DeltekVisionOpenAPIWebServiceSoap"
                    name="DeltekVisionOpenAPIWebServiceSoapSSL"/>-->
    </client>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
