<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="DeltekVisionOpenAPIWebServiceSoap" openTimeout="00:02:00" sendTimeout="00:02:00" maxReceivedMessageSize="5242880">
            <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
            <security mode="None"/>
          </binding>
          <binding name="DeltekVisionOpenAPIWebServiceSoapSSL" openTimeout="00:02:00" sendTimeout="00:02:00" maxReceivedMessageSize="524288">
                <security mode="Transport">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="Certificate" algorithmSuite="Default"/>
                </security>
              </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost/Vision/VisionWS.asmx" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="DeltekVisionOpenAPIWebServiceSoap" 
                  contract="VisionAPI.DeltekVisionOpenAPIWebServiceSoap" 
                  name="DeltekVisionOpenAPIWebServiceSoap"/>
        <endpoint address="https://localhost/Vision/VisionWS.asmx"
                  binding="basicHttpBinding"
                  bindingConfiguration="DeltekVisionOpenAPIWebServiceSoapSSL"
                  contract="VisionAPI.DeltekVisionOpenAPIWebServiceSoap"
                  name="DeltekVisionOpenAPIWebServiceSoapSSL"/>
      </client>
    </system.serviceModel>
</configuration>